<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- META ============================================= -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="keywords" content="VIT wale , vitian , vitian Communtiy  , VIT Bhopal , VIT, VIT wale vit bhopal" />
      <!-- DESCRIPTION -->
      <meta name="description" content="vitian is an unofficial community for the students of VIT. Students can explore different study material , info about clubs and events on vitian website." />
      <!-- OG -->
      <meta property="og:title" content="vitian" />
      <meta property="og:description" content="vitian is an unofficial community for the students of VIT. Students can explore different study material , info about clubs and events on vitian website." />
      <meta property="og:image" content="" />
      <!-- FAVICONS ICON ============================================= -->
      <link rel="icon" href="/static/website_images/logos/vitiansinglelogo.png"/>
      <link rel="shortcut icon" type="image/x-icon" href="/static/website_images/logos/vitiansinglelogo.png"/>
      <!-- PAGE TITLE HERE ============================================= -->
      <title>Add A Event </title>
      <!-- MOBILE SPECIFIC ============================================= -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
      <![endif]-->
      <!-- All PLUGINS CSS ============================================= -->
      <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'assets/css/assets.css')}}">
      <!-- TYPOGRAPHY ============================================= -->
      <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'assets/css/typography.css')}}">
      <!-- SHORTCODES ============================================= -->
      <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'assets/css/shortcodes/shortcodes.css')}}">
      <!-- STYLESHEETS ============================================= -->
      <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'assets/css/style.css')}}">
      <link class="skin" rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'assets/css/color/color-1.css')}}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-0SZB71WDPJ"></script>
      <style>
         input::-webkit-outer-spin-button,
         input::-webkit-inner-spin-button {
         -webkit-appearance: none;
         margin: 0;
         }
         .switch {
         position: relative;
         display: inline-block;
         width: 60px;
         height: 34px;
         }
         .switch input { 
         opacity: 0;
         width: 0;
         height: 0;
         }
         .slider {
         position: absolute;
         cursor: pointer;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         background-color: #ccc;
         -webkit-transition: .4s;
         transition: .4s;
         }
         .slider:before {
         position: absolute;
         content: "";
         height: 26px;
         width: 26px;
         left: 4px;
         bottom: 4px;
         background-color: white;
         -webkit-transition: .4s;
         transition: .4s;
         }
         input:checked + .slider {
         background-color: #2196F3;
         }
         input:focus + .slider {
         box-shadow: 0 0 1px #2196F3;
         }
         input:checked + .slider:before {
         -webkit-transform: translateX(26px);
         -ms-transform: translateX(26px);
         transform: translateX(26px);
         }
         /* Rounded sliders */
         .slider.round {
         border-radius: 34px;
         }
         .slider.round:before {
         border-radius: 50%;
         }
      </style>
      <link rel="stylesheet" href="{{url_for('static',filename = 'build/css/intlTelInput.css')}}">
      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C0Y0J3BLQY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C0Y0J3BLQY');
</script>
   </head>
   <body id="bg" onload="notification()">
      <div class="page-wraper" style="display: inline;" id="step1">
         <div id="loading-icon-bx"></div>
         <div class="account-form">
            <div class="account-head" style="background-image:url(assets/images/background/bg2.jpg);">
               <a href="index.html"><img src="assets/images/logo-white-2.png" alt=""></a>
            </div>
            <div class="account-form-inner">
               <div class="account-container">
                  <div class="heading-bx left">
                     <h2 class="title-head">Add <span>A New Event</span></h2>
                     <p>Step 1 out of 3</p>
                     <p>NOTE -- DO NOT CLICK REFRESH OR EXIT THE WEBSITE WITHOUT COMPLETING ALL STEPS.</p>
                  </div>
                  <div class="contact-bx" >
                     <div class="row placeani">
                        <form action="/addevent" method="POST" enctype="multipart/form-data" >
                        
                        <div class="col-lg-12">
                           <h6>Name Of The Event</h6>
                           <div class="form-group">
                              <div class="input-group">
                                 <label>Enter The Name Of The Event</label>
                                 <input name="name" onkeyup="validateStep1();" id="name" type="text" required  class="form-control"  >
                              </div>
                           </div>
                        </div>



                        <div class="col-12">
                            <div class="form-group">
                               <div class="input-group">
                                  
                                  <h6>Select Category Of Event</h6>
                                  <div class="col-12">
                                     <select class="header-lang-bx" name="eventcat" id="eventcat" onkeyup="validateStep1();" >
                                        <option>Computer</option>
                                        <option >Mechanice</option>
                                        <option >Electronics</option>
                                        <option >AI</option>
                                        <option >Avionics</option>
                                        <option >Finance</option>
                                     </select>
                                  </div>
                               </div>
                            </div>
                         </div>



                         <div class="col-12">
                            <div class="form-group">
                               <div class="input-group">
                                  
                                  <h6>Select Mode Of Event</h6>
                                  <div class="col-12">
                                     <select class="header-lang-bx" name="mode" id="mode"  onkeyup="validateStep1();" >
                                        <option>Online</option>
                                        <option >Offline</option>
                                     
                                     </select>
                                  </div>
                               </div>
                            </div>
                         </div>

 
                        <div class="col-lg-12 m-b30">
                           <button type="button" onclick="goBack();" class="btn button-md">Back</button>
                           <button type="button" onclick="tostep2();"  id = "tostep2btn" disabled class="btn button-md">Next</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- STEP 2 -->
      <div class="page-wraper" style="display: none;" id="step2">
         <div class="account-form">
            <div class="account-head" style="background-image:url(assets/images/background/bg2.jpg);">
               <a href="index.html"><img src="assets/images/logo-white-2.png" alt=""></a>
            </div>
            <div class="account-form-inner">
               <div class="account-container">
                  <div class="heading-bx left">
                     <h2 class="title-head">Details <span>Of Club</span></h2>
                     <p>Step 2 out of 3</p>
                  </div>
                  <div class="contact-bx">
                     <div class="row placeani">
                        <div class="col-lg-12">
                           <div class="form-group">
                              <h4>Event Details</h4>
                              <small>You Can Change All Of These Info In Future.</small><br><br>
                      
                              <div class="input-group">
                    
                                 <div class="row">
                            
                                    <div class="col-md-6 col-12 ">
                                       <p>Event Date</p>
                                       <input type="date" onkeyup="validateStep2();" name="opendate" id="opendate">
                            
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="input-group">
                                 <label for="link">Any Link For Event</label>
                                 <input id="link" onkeyup="validateStep2();" name="link"  type="text" class="form-control" required="">
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="input-group">
                                 <label for="repuser">Information Is Given By</label>
                                 <input id="repuser"  onkeyup="validateStep2();" name="repuser" type="text" class="form-control" required="">
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="input-group">
                                 <label for="event_short_des">2-4 Lines Short Description About Event</label>
                                 <input id="event_short_des"  onkeyup="validateStep2();" name="event_short_des" type="text" class="form-control" required="">
                              </div>
                           </div>
                       
                        </div>
                        <div class="col-lg-12 m-b30">
                           <button type="button" onclick="vstep1();" class="btn button-md">Back</button>
                           <button type="button" onclick="tostep3();" id="tostep3btn"  disabled  class="btn button-md">Next</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- STEP 3 -->
      <div class="page-wraper" style="display: none;" id="step3">
         <div class="account-form">
            <div class="account-head" style="background-image:url(assets/images/background/bg2.jpg);">
               <a href="index.html"><img src="assets/images/logo-white-2.png" alt=""></a>
            </div>
            <div class="account-form-inner">
               <div class="account-container">
                  <div class="heading-bx left">
                     <h2 class="title-head">Add Files <span>Which Is Required</span></h2>
                     <p>Step 3 out of 3</p>
                  </div>
                  <div class="contact-bx">
                     
                     <div class="row placeani">
                        <div class="col-lg-12">
                            <div class="form-group">
                               <div class="input-group">
                                  <h4>Add the HTML File Of Your Event</h4>
                                  <input type="file" class="form-control" id="html" required accept=".html"  name="html">
                               </div>
                            </div>
                         </div>
                        <div class="col-lg-12">
                           <div class="form-group">
                              <div class="input-group">
                                 <h4>Add Images Of Your Event (Min 1 Image Required)</h4>
                                 <input type="file" class="form-control" id="images" name="images" required  accept="image/*" multiple >
                                 <small style="color: rgb(214, 0, 0);">You can choose up to 20 images.</small>
                                 <small>Try To Choose Landscape mode images to get better design of your club page.</small>
                              </div>
                           </div>
                        </div>
                        <br><br>
                        <div class="col-lg-12 m-b30">
                           <button type="button" onclick="vstep2();" class="btn button-md">Back</button>
                           <button type="submit"  class="btn button-md">Submit</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <script src="{{url_for('static',filename = 'assets/js/jquery.min.js')}}"></script>
      <script src="{{url_for('static',filename = 'assets/vendors/bootstrap/js/popper.min.js')}}"></script>
      <script src="{{url_for('static',filename = 'assets/vendors/bootstrap/js/bootstrap.min.js')}}"></script>
      <script src="{{url_for('static',filename = 'assets/vendors/bootstrap-select/bootstrap-select.min.js')}}"></script>
      <script src="{{url_for('static',filename = 'assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js')}}"></script>
      <script src="{{url_for('static',filename = 'assets/vendors/magnific-popup/magnific-popup.js')}}"></script>
      <script src="{{url_for('static',filename = 'assets/vendors/counter/waypoints-min.js')}}"></script>
      <script src="{{url_for('static',filename = 'assets/vendors/counter/counterup.min.js')}}"></script>
      <script src="{{url_for('static',filename = 'assets/vendors/imagesloaded/imagesloaded.js')}}"></script>
      <script src="{{url_for('static',filename = 'assets/vendors/masonry/masonry.js')}}"></script>
      <script src="{{url_for('static',filename = 'assets/vendors/masonry/filter.js')}}"></script>
      <script src="{{url_for('static',filename = 'assets/vendors/owl-carousel/owl.carousel.js')}}"></script>
      <script src="{{url_for('static',filename = 'assets/js/functions.js')}}"></script>
      <script src="{{url_for('static',filename = 'assets/js/contact.js')}}"></script>
      <script src="{{url_for('static',filename = 'assets/vendors/switcher/switcher.js')}}"></script>
      
      <script>
         
         function tostep2(){
         	document.getElementById("step1").style.display = "none";
         	document.getElementById("step2").style.display = "inline";
         }
         function tostep3(){
         	document.getElementById("step2").style.display = "none";
         	document.getElementById("step3").style.display = "inline";
         }
         function tostep4(){
         	document.getElementById("step3").style.display = "none";
         	document.getElementById("step4").style.display = "inline";
         }
         
         
         function vstep1(){
         	document.getElementById("step2").style.display = "none";
         	document.getElementById("step1").style.display = "inline";
         }
         function vstep2(){
         	document.getElementById("step3").style.display = "none";
         	document.getElementById("step2").style.display = "inline";
         }
         function vstep3(){
         	document.getElementById("step4").style.display = "none";
         	document.getElementById("step3").style.display = "inline";
         }
         
         function goBack() {
          window.history.back();
         }
      </script>
   <script>
       



       function validateStep2(){
           var opendate  = document.getElementById("opendate").value;
           var link  = document.getElementById("link").value.length;
           var repuser  = document.getElementById("repuser").value.length;
           var event_short_des  = document.getElementById("event_short_des").value.length;
        if(link != 0 && repuser != 0 && opendate.length != 0 && event_short_des != 0)
       {
            document.getElementById("tostep3btn").disabled = false;
       }
       else{
        document.getElementById("tostep3btn").disabled = true;
       }
       }
  


       function validateStep1(){
        var name  = document.getElementById("name").value.length;
        var eventcat  = document.getElementById("eventcat").value.length;
        var mode  = document.getElementById("mode").value.length;
   
        if(name != 0 && eventcat != 0 && mode != 0)
       {
            document.getElementById("tostep2btn").disabled = false;
       }else{
        document.getElementById("tostep2btn").disabled = true;
       }
       }
   </script>
      <script src="{{url_for('static',filename = 'build/js/intlTelInput.js')}}"></script>
      <script>
         function phone() {
          var x = document.getElementById("phone").value;
          document.getElementById("phonein").value = x;
         }
      </script>
      <script>
         var input = document.querySelector("#phone");
         window.intlTelInput(input, {
           allowDropdown: false,
           autoHideDialCode: false,
         //   autoPlaceholder: "off",
           // dropdownContainer: document.body,
           // excludeCountries: ["us"],
         //   formatOnDisplay: false,
           // geoIpLookup: function(callback) {
           //   $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
           //     var countryCode = (resp && resp.country) ? resp.country : "";
           //     callback(countryCode);
           //   });
           // },
           hiddenInput: "full_number",
           // initialCountry: "auto",
           // localizedCountries: { 'de': 'Deutschland' },
         //   nationalMode: false,
         //   onlyCountries: ['in', 'us', 'ch', 'ca', 'do'],
           // placeholderNumberType: "MOBILE",
           preferredCountries: ['in','us','ca','au','np'],
           separateDialCode: true,
           utilsScript: "{{url_for('static',filename = 'build/js/utils.js')}}",
         });
      </script>
   </body>
</html>